@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(248, 248, 248);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

nav ul li a:hover {
    color: rgb(238, 232, 156);
 }

ul li.list {
    margin-left: 35px;
    list-style-type:disc;
}

ul li a {
    text-decoration: none;
}

.btn-small {
    margin: 5px;
}

.btn-primary{
    background-color: rgb(56, 157, 224);
}
.btn-primary, .btn-danger, .btn-warning{
    height: 30px;
    margin: 5px 5px;
    padding: 3px 3px;
}

.modal {
    width: 30%;
    height: auto;
}

.advt img {
    max-width: 400px;
}
footer h3 {
    font-size: small;
    }

footer .social {
    font-size: large;
    display: flex;
    justify-content: center;
    }

footer .social i {
    font-size: 1.5em !important;
    }

footer .social a {
    padding-left: 25px;
    padding-right: 25px;
    }

.social i:hover{
   color: orange !important; 
   transition: 0.8s;
}

#procook {
    font-size: 1.2em;
}
#procook:hover {
   color: orange !important; 
   transition: 0.8s;
}

@media only screen and (max-width: 600px) {
    img {
        width: 70%;
    }
    .modal {
        width: 100%;
        height: auto;
    }
    .btn-primary, .btn-danger, .btn-warning{
        height: 25px;
        margin: 5px 5px;
        padding-top: 3px 3px;
        font-size: 1rem;
    }
    
}