{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action=" {{ url_for('add_recipe') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix light-blue-text text-darken-4"></i>
                    <input id="recipe_name" name="recipe_name" minlength="3" maxlength="50" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                      <option value="" disabled selected>Choose Category</option>
                      {% for category in categories %}
                        <option value="{{ category.category_name}}">{{ category.category_name}}</option>
                      {% endfor %}
                    </select>
                    <label>Food Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-hourglass prefix light-blue-text text-darken-4"></i>
                    <input id="prep_time" name="prep_time" minlength="3" maxlength="50" type="text" class="validate" required>
                    <label for="prep_time">Preparation Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-hourglass-half prefix light-blue-text text-darken-4"></i>
                    <input id="prep_time" name="cook_time" minlength="3" maxlength="50" type="text" class="validate" required>
                    <label for="cook_time">Cook Time</label>
                </div>
            </div>
          
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-friends prefix light-blue-text text-darken-4"></i>
                    <input id="serve" name="serve" type="text" class="validate" required>
                    <label for="serve">Serve</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-globe prefix light-blue-text text-darken-4"></i>
                    <input id="cuisine" name="cuisine" minlength="3" maxlength="50" type="text" class="validate" required>
                    <label for="cuisine">Cuisine</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-cut prefix light-blue-text text-darken-4"></i>
                    <input id="tools_required" minlength="1" maxlength="50" type="text" class="validate">
                    <label for="tools_required">Tools Required (Type the tool name here and then click 'Click to Add')</label>
                    <button id="btn_tools" class="btn blue-grey darken-1 text-white" onClick="add_tools(event);" type="button" style="float: right;">Click to Add</button>
                    <div class="container">
                         <div id="tools_div">
                        </div>
                    </div>
                </div>              
            </div>
             <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pepper-hot prefix light-blue-text text-darken-4"></i>
                        <input id="ingredients" minlength="1" maxlength="50" type="text" class="validate">
                        <label for="ingredients">Ingredients (Type the ingredient name here and then click 'Click to Add')</label>
                        <button id="btn_ingredient" class="btn blue-grey darken-1 text-white" onClick="add_ingredient(event);" type="button" style="float: right;">Click to Add</button>
                        <div class="container">
                            <div id="ingredients_div">
                            </div>
                        </div>
                    </div>
            </div> 
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-mortar-pestle prefix light-blue-text text-darken-4"></i>
                    <textarea id="method" minlength="5"
                        maxlength="500" class="materialize-textarea"></textarea>
                    <label for="method">Method (Type the instruction here and then click 'Click to Add')</label>
                    <button id="btn_ingredient" class="btn blue-grey darken-1 text-white" onClick="add_method(event);" type="button" style="float: right;">Click to Add</button>
                    <div class="container">
                        <div id="method_div">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="recipe_tip" name="recipe_tip" minlength="5"
                        maxlength="250" class="materialize-textarea"></textarea>
                    <label for="recipe_tip">Recipe Tip</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="iamge_source" name="image_source" minlength="0" maxlength="150" type="text" class="validate">
                    <label for="image_source">Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red text-shadow">Cancel</a>
                    </button>
                </div>
            </div>
        </form>
    </div>
    

{% endblock %}