<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Cookerish Cooking Hub</title>
</head>
<body>

    <header>
        <!-- top navbar -->
        <nav class="nav-extended text-shadow blue-grey darken-2"> 
            <div class="nav-wrapper">
              <a style="text-decoration: none;" href="{{ url_for('get_recipes') }}" class="brand-logo">Cookerish</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                {% if session.user %}    
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
					<li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
					<li><a href="#">Recipe Categories</a></li>
					<li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
					<li><a href="{{ url_for('login') }}">Log In</a></li>
					<li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        <!-- mobile sidenav -->
          <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align blue-grey-text text-darken-4">Cookerish</h4></li>
            <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
            {% if session.user %}    
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
					<li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
					<li><a href="#">Recipe Categories</a></li>
					<li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
					<li><a href="{{ url_for('login') }}">Log In</a></li>
					<li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
          </ul>
                  
    </header>

    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>