{% extends "base.html" %}
{% block content %}

    <h1 class="light-blue-text text-darken-4 center-align" style="margin-top: 5%;">Manage Categories</h1>
    <div class="row" style="margin-top: 3%;">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-large blue-grey text-shadow">
                Add Category <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 3%;">
        {% for category in categories %}
            <div class="col s12 m3" style="min-width: 278px; max-width: 400px;">
                <div class="card light-blue darken-3 center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.category_name.capitalize() }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn yellow lighten-3" style="height: 30px; padding:3px 10px;">Edit</a>
                        <button type="button" class="btn deep-orange lighten-1 text-white" data-bs-toggle="modal" data-bs-target="#modal-{{loop.index}}">
                            Delete
                          </button>                          
                    </div>
                </div>
            </div>
             <!-- Modal -->
             <div class="modal fade" id="modal-{{loop.index}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content"  style="background-color: rgb(255, 255, 255);">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalLabel" style="color: rgb(250, 108, 14);">Delete Category!</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p style="color: rgb(0, 89, 255);">Are you sure, you want to delete category?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" onClick="window.location.href='{{ url_for('delete_category', category_id=category._id) }}';" class="btn btn-primary" data-bs-dismiss="modal" style="padding: 3px 15px;">OK</button>
                     <button type="button" class="btn btn-warning" data-bs-dismiss="modal" style="margin-left: 5px;">Cancel</button>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}