{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align" style="margin-top: 15%;">Edit Uder Details</h3>

    <div class="row">
      <form class="col s12" method="POST" action="{{ url_for('edit_userInfo',username=user.username) }}">
        <div class="row">
          <div class="input-field">
            <input id="first_name" name="first_name" minlength="1" maxlength="50" value="{{ user.first_name }}" type="text" class="validate" required>
            <label for="first_name" style="margin-left: 10px;">First Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="last_name" name="last_name" minlength="1" maxlength="50" value="{{ user.last_name }}" type="text" class="validate" required>
            <label for="last_name" style="margin-left: 10px;">Last Name</label>
          </div>
        </div> 
        <div class="row">
          <div class="input-field">
            <input id="location" name="location" minlength="1" maxlength="50" value="{{ user.location }}" type="text" class="validate" required>
            <label for="location" style="margin-left: 10px;">Location</label>
          </div>
        </div> 
        <div class="col s12 center-align" id="edit-user-info" style="margin-bottom: 10%;">
          <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red text-shadow">Cancel</a>
          <button type="submit" class="btn-large light-blue darken-1 text-shadow">
              Update <i class="fas fa-check-square right"></i>
          </button>
        </div>
      </form>
    </div>   

{% endblock %}