{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel dark-grey-text text-darken-4">
                <h3 class="center-align dark-grey-text text-darken-4">
                    {{ user.username }}'s Profile<br>
                </h3>
                <table>
                    <tr>
                        <td><span style="font-weight:500">First Name:</span></td>
                        <td><span style="font-size: large;">{{ user.first_name }}</span></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:500">Last Name:</span></td>
                        <td><span style="font-size: large;">{{ user.last_name }}</span></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight:500">Location:</span></td>
                        <td><span style="font-size: large;">{{ user.location }}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>         
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <div class="dark-grey-text text-darken-4">
                    {% for recipe in user_recipe %}
                        <div class="container">
                            <div class="row">
                            <div class="col-9"><h4>{{ loop.index}}. {{ recipe.recipe_name }}</h4><br>
                            </div>
                            <div class="col-3">
                                <a href="{{ url_for('edit_recipe',recipe_id=recipe._id)}}" class="btn-small light-blue accent-4">Edit</a>
                                <a href="" class="btn-small red lighten-2">Delete</a>
                            </div>  
                            <div class="row">
                                <div class="col-6"> <img src="{{ recipe.image_source }}" alt="curry image">
                                </div>
                                <div class="col-6">
                                    <p><span style="font-weight: bold;">Category:</span> {{ recipe.category_name }}</p>
                                    <p><span style="font-weight: bold;">Preparation time: </span> {{ recipe.cook_time }}</p>
                                    <p><span style="font-weight: bold;">Cooking time:</span> {{ recipe.prep_time }}</p>
                                    <p><span style="font-weight: bold;">Cuisine:</span> {{ recipe.cuisine }}</p>
                                    <p><span style="font-weight: bold;">Serve:</span> {{ recipe.serve }} people</p>
                                </div>
                            </div>                        
                            </div>
                        </div>
                        <p><span style="font-weight: bold;">Tools required:</span> 
                            <ul>
                                {% for tool in recipe.tools_required %} 
                                    <li class="list"><a href="https://www.procook.co.uk/" target="_blank">{{  tool }}</a></li>
                                {% endfor %}
                            </ul>
                        </p>
                        
                        <!-- bootstrap -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                    <p><span style="font-weight: bold;">Ingredients:</span></p>
                                            <ul>
                                                {% for item in recipe.ingredients %}
                                                    <li class="list">{{ item }}</li>
                                                {% endfor %}
                                            </ul> 
                                    </div>
                                </div>
                            </div>
                                <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <p><span style="font-weight: bold;">Method:</span></p>
                                        <ol>
                                            {% for step in recipe.method %}
                                                <li>
                                                    {{ step }}
                                                </li> <br>
                                            {% endfor %}
                                        </ol>  
                                    </div>
                                </div>
                                </div>
                            </div>
                        <!-- bootstrap end -->
                        <p><span style="font-weight: bold;">Rating:</span> {{ recipe.customer_rating }}</p>
                        <p><span style="font-weight: bold;">Review:</span> {{ recipe.customer_review }}</p>
                        <p><span style="font-weight: bold;">Tip: </span>{{ recipe.recipe_tip }}</p>   
                        <p><span style="font-weight: bold;">Posted on:</span> {{ recipe.date_posted.strftime('%d-%m-%Y') }}</p> 
                        <p><span style="font-weight: bold;">Created by:</span> {{ recipe.created_by }}</p>
                        <br> 
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div>


{% endblock %}