{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ user.username }}'s Profile
                </h3>
                <p><span style="font-weight: bold;"> First Name: </span>{{ user.first_name }}</p>
                <p><span style="font-weight: bold;">Last Name:  </span>{{ user.last_name }}</p>
                <p><span style="font-weight: bold;">Emai Id:  </span>{{ user.email_id }}</p>
                <p><span style="font-weight: bold;">Contact Number:  </span>{{ user.contact_no }}</p>
                <p><span style="font-weight: bold;">Address Line-1:  </span>{{ user.address_line_1 }}</p>
                <p><span style="font-weight: bold;">Address Line-2: </span>{{ user.address_line_2 }}</p>
                <p><span style="font-weight: bold;">Town: {{ user.town }} </span></p>
                <p><span style="font-weight: bold;">Postcode: {{ user.postcode }} </span></p>

            </div>
        </div>
    </div>

{% endblock %}