{% extends "base.html" %}
{% block content %}
  <h2 style="color: rgb(211, 152, 42); text-align: center; margin-top: 20px;">Cookerish Recipes</h2>
  {% for recipe in recipes %}
    <h4>{{ recipe.recipe_name }}</h4><br>
    <p><span style="font-weight: bold;">Category:</span> {{ recipe.category_name }}</p>
    <p><span style="font-weight: bold;">Ingredients:</span></p>
    <ul>
      {% for item in recipe.ingredients %}
        <li class="list">
          {{ item }}
        </li>
      {% endfor %}
    </ul>
    
    <p><span style="font-weight: bold;">Method:</span></p>
    <ol>
      {% for step in recipe.method %}
        <li>
          {{ step }}
        </li> <br>
    {% endfor %}
    </ol>  
    <p><span style="font-weight: bold;">Preparation time: </span> {{ recipe.cook_time }}</p>
    <p><span style="font-weight: bold;">Cooking time:</span> {{ recipe.prep_time }}</p>
    <p><span style="font-weight: bold;">Tools required:</span> 
      <ul>
        {% for tool in recipe.tools_required %} 
        <li class="list"><a href="https://www.procook.co.uk/" target="_blank">{{  tool }}</a></li>
      {% endfor %}
      </ul>
    </p> 
    <p><span style="font-weight: bold;">Cuisine:</span> {{ recipe.cuisine }}</p>
    <p><span style="font-weight: bold;">Serve:</span> {{ recipe.serve }} people</p>
    <p><span style="font-weight: bold;">Rating:</span> {{ recipe.customer_rating }}</p>
    <p><span style="font-weight: bold;">Review:</span> {{ recipe.customer_review }}</p>
    <p><span style="font-weight: bold;">Tip: </span>{{ recipe.recipe_tip }}</p>   
    <p><span style="font-weight: bold;">Posted on:</span> {{ recipe.date_posted.strftime("%d %B, %Y") }}</p>
    <p><span style="font-weight: bold;">Created by:</span> {{ recipe.created_by }}</p>
    <div>
      <img src="{{ recipe.image_source }}" alt="curry image" style="max-width: 500px;height:auto;">
    </div>
    <br>
  {% endfor %}

  <ul class="collapsible">
    <li>
      <div class="collapsible-header white-text blue-grey lighten-1 text-shadow"><i class="fas fa-caret-down"></i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header white-text blue-grey lighten-1 text-shadow"><i class="fas fa-caret-down"></i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header white-text blue-grey lighten-1 text-shadow"><i class="fas fa-caret-down"></i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
        
{% endblock %}
