{% extends "base.html" %}
{% block content %}

 <!-- Credit: This page has used Code Institute's mini project's code and was modified to fit the purpose of the site   -->
 
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#"><img src="../static/images/image1.jpg"></a>
    <a class="carousel-item" href="#"><img src="../static/images/image2.jpg"></a>
    <a class="carousel-item" href="#"><img src="../static/images/image3.jpg"></a>
    <a class="carousel-item" href="#"><img src="../static/images/image4.jpg"></a>
  </div>
  <h1 style="color: rgb(180, 75, 5); text-align: center; margin-top: 3%; margin-bottom: 2%;">Cookerish recipes of your choice</h1>

  <div class="row card-panel grey lighten-5"  id="search_box">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align" style="display: block;">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="recipe_query" id="recipe_query" minlength="3" class="validate" required>
                <label for="recipe_query">Search Recipes</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_recipes') }}" class="deep-orange darken-3 btn text-white text-shadow">Reset</a>
                <button type="submit" class="blue-grey darken-1 btn text-white text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
  </div>

  {% if recipes|length > 0 %}
    {% for recipe in recipes %}
      <div class="row">
        <div class="col-9"><h4>{{ loop.index}}. {{ recipe.recipe_name }}</h4><br>
        </div>
          <div class="row" style="display: block;">
            <div class="col m6"> <img src="{{ recipe.image_source }}" alt="curry image" style="max-width: 100%; max-height: 500px;">
            </div>
            <div class="col m6">
                <p><span style="font-weight: bold;">Category:</span> {{ recipe.category_name }}</p>
                <p><span style="font-weight: bold;">Preparation time: </span> {{ recipe.cook_time }}</p>
                <p><span style="font-weight: bold;">Cooking time:</span> {{ recipe.prep_time }}</p>
                <p><span style="font-weight: bold;">Cuisine:</span> {{ recipe.cuisine }}</p>
                <p><span style="font-weight: bold;">Serve:</span> {{ recipe.serve }} people</p>
            </div>
        </div>                        
      </div>
      <p><span style="font-weight: bold;">Tools required:</span> 
        <ul>
            {% for tool in recipe.tools_required %} 
                <li class="list"><a href="https://www.procook.co.uk/" target="_blank">{{  tool }}</a></li>
            {% endfor %}
        </ul>
      </p>
    
    <!-- bootstrap -->
    <div class="row">
        <div class="col-sm-6">
            <p><span style="font-weight: bold;">Ingredients:</span></p>
                <ul>
                    {% for item in recipe.ingredients %}
                        <li class="list">{{ item }}</li>
                    {% endfor %}
                </ul> 
        </div>
        <div class="col-sm-6" style="padding-right: 5px;">
            <p><span style="font-weight: bold;">Method:</span></p>
                <ol>
                    {% for step in recipe.method %}
                        <li>
                            {{ step }}
                        </li> <br>
                    {% endfor %}
                </ol>  
        </div>
    </div>
    <!-- bootstrap end -->
    <p><span style="font-weight: bold;">Tip: </span>{{ recipe.recipe_tip }}</p>   
    <p><span style="font-weight: bold;">Posted on:</span> {{ recipe.date_posted.strftime('%d-%m-%Y') }}</p> 
    <p><span style="font-weight: bold;">Created by:</span> {{ recipe.created_by }}</p>
    <hr style="color: rgb(212, 207, 207);">
    <br><br>
    {% endfor %}
  {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
  {% endif %}

  <div class="row advt">
    <div  class="col s12">
        <a href="https://www.procook.co.uk/" target="_blank">
            <img src="../static/images/kitchenset1.jpg" alt="kitchenset image" href="https://www.procook.co.uk/">
        </a>
    </div>
    <div class="col s12">
        <a href="https://www.procook.co.uk/" target="_blank">
            <img src="../static/images/kitchenset2.jpg" alt="kitchenset image" href="https://www.procook.co.uk/">
        </a>
    </div>
    <div class="col s12">
        <a href="https://www.procook.co.uk/" target="_blank">
            <img src="../static/images/kitchenset3.jpg" alt="kitchenset image" href="https://www.procook.co.uk/">
        </a>
    </div>
</div>

{% endblock %}
